@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="d-flex flex-column gap-3">
        <div class="card border-0">
            <div class="card-body d-flex flex-column align-items-center">
                <div class="w-75 d-flex justify-content-end">
                    <div id="btn-update-photo" type="button" data-id="" data-bs-toggle="modal" data-bs-target="#staticModalE" class="px-2 py-1 bg-success rounded-circle text-white z-index-1 position-absolute ">
                        <i class="fa-solid fa-pen"></i>
                    </div>
                </div>
                <img class="img-profile mb-3 object-fit-cover rounded-circle" src="~/images/assets/empty.jpg" width="180" height="180">
                <div class="h1"><i class="fa-solid fa-star"></i></div>
                <p class="m-0">Bronze Member</p>
                <p class="fst-italic">Since </p>
            </div>
        </div>
        <div class="card border-0">
            
            <div class="card-body">
                <div class="mb-3">
                    <a class="h5 fw-bold text-black">Pasien</a>
                </div>
                <div class="mb-3">
                    <a class="h5 fw-bold text-black">Pembelian Obat</a>
                </div>
                <div class="mb-3">
                    <a class="h5 fw-bold text-black" asp-controller="HistoryAppointmentCustomer" asp-action="History">Riwayat Kedatangan</a>
                </div>
            </div>
        </div>
    </div>
