@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="card">
    <div class="card-header">
        <h5 class="card-title">ALAMAT</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">Nama Lengkap</div>
            <div class="col-md-6">: Nama Lengkap Kita</div>
        </div>
        <div class="row">
            <div class="col-md-6">Tempat, Tanggal Lahir</div>
            <div class="col-md-6">: TTL Kita</div>
        </div>
        <div class="row">
            <div class="col-md-6">Alamat</div>
            <div class="col-md-6">: Alamat Kita</div>
        </div>
        <div class="row">
            <div class="col-md-6">Kontak</div>
            <div class="col-md">:</div>
            <div class="col-md-6">
                <ul>
                    <li>Instagram Kita</li>
                    <li>Facebook Kita</li>
                    <li>No HP Kita</li>
                    <li>Email Kita</li>
                </ul>
            </div>
        </div>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>